.icon-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px 0px;
}

.icon-row .icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.icon-row:last-child {
  margin-top: 13px;
}
.icon-row__icon i {
  font-size: 30px;
}
.icon-text {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
}
.icon-row__icon span {
  text-align: center;
}
